@mixin responsive-font($responsive, $min, $max: false, $fallback: false) {
  $responsive-unitless: $responsive / ($responsive - $responsive + 1);
  $dimension: if(unit($responsive) == 'vh', 'height', 'width');
  $min-breakpoint: $min / $responsive-unitless * 100;

  @media (max-#{$dimension}: #{$min-breakpoint}) {
    font-size: $min;
  }

  @if $max {
    $max-breakpoint: $max / $responsive-unitless * 100;

    @media (min-#{$dimension}: #{$max-breakpoint}) {
      font-size: $max;
    }
  }

  @if $fallback {
    font-size: $fallback;
  }

  font-size: $responsive;
}

.limit-min {
  @include responsive-font(3vw, 20px);
}

.limit-min-max {
  @include responsive-font(3vw, 20px, 50px);
}

.home-sidebar-container {
  width: 20vw;
  top: 0;
  padding-bottom: 30px;
  background-color: transparent;
  overflow-y: scroll;
}

.home-container {
  display: flex;
}

.mdl-grid {
  max-width: 70vw;
}

.recent-posts-header {
  width: 100%;
  height: 25px;
  background-color: white;
  margin: 10px;
  margin-top: 5px;
  margin-bottom: 0px;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 15px;
}

.junk-header {
  text-align: right;
  margin: 10px;
  margin-right: 15px;
  a {
    text-decoration: none;
    font-weight: bold;
  }
}

.junk-item-date {
  font-size: 11px;
  text-align: right;
  margin-right: 15px;
}

.home-sidebar-junk-feed {
  margin-top: 15px;
  width: 100%;
  overflow: scroll;
  height: 70vh;
}

.home-sidebar-junk-feed h4 {
  font-size: 12px;
}

.home-sidebar-junk-feed h4 a {
  text-decoration: none;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 100;
  pointer-events: none;
  opacity: 0.44;
  background-color: rgba(43, 27, 27, 0.7);
  background-image: url('/images/whitenoise.png');
}

.home-intro-block {
  .more-links {
    position: relative;
    bottom: 0px;
    text-align: right;
    padding-right: 50px;
    font-size: 10px;
    a {
      text-decoration: none;
    }
  }
}

.home-intro-block .mdl-grid {
  width: 95%;
  height: 100%;
  margin: 0px;
  padding-top: 30px;
}

.profile-card {
  min-height: 360px !important;
}

.contactbox {
  position: relative;
  top: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-size: 25px;
}

.contactbox img:hover {
  opacity: 1;
}

.projects-link {
  display: contents;
  text-decoration: none;
}

.profile-box hr {
  margin-top: 10px;
  margin-bottom: 3px;
}

.profile-box {
  width: 100%;
  margin-bottom: 5px;

  .bio {
    line-height: 1.45;
  }
}

.home-small-post-card {
  position: relative;
  top: 0px;
  height: 100%;
  margin-bottom: 10px;
  margin-right: 10px;
}

.home-small-post-card .text-items {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  font-size: 12px;
  display: flex;
  padding: 5px;
  padding-left: 10px;
  flex-direction: column;
  opacity: 0.97;
  line-height: 1.6;
}

.home-small-post-card .title {
  text-decoration: none;
  @include responsive-font(1.8vw, 10px, 20px);
  line-height: 1.4;
  margin-bottom: 2%;
  @media screen and (max-width: 1200px) {
    line-height: 1.2;
  }
}

.home-small-post-card .small-card-decription {
  opacity: 0.93;
  overflow: hidden;
  line-height: 1.4;
  @include responsive-font(1.2vw, 9px, 17px);
}

@media screen and (max-width: 1200px) {
  .home-sidebar-container {
    display: none;
  }
}
@media screen and (max-width: 1000px) {
  .home-intro-block {
    display: none !important;
  }

  .mdl-grid {
    max-width: 90vw;
  }

  .hmdl-profile-card {
    width: 100% !important;
    max-width: unset !important;
  }
}

.mdl-layout__drawer-button {
  display: none;

  @media (max-width: 1000px) {
    display: block;
  }
}

.menu-accent {
  color: rgb(10, 40, 150);
  font-weight: 700;
}

.fa-spotify:hover {
  color: #84bd00;
}

.fa-linkedin:hover {
  color: #0077b5;
}

.fa-github:hover {
  color: #4078c0;
}

.fa-keybase:hover {
  color: #ff6f20;
}

.fa-lastfm:hover {
  color: #d51007;
}

.fa-mastodon:hover {
  color: #444b5d;
}

.tag-list {
  background-color: white;
  padding: 30px;
  line-height: 50px;
  font-size: 18px;

  a {
    text-decoration: none;
  }

  @for $i from 2 through 1000 {
    $size: 10px;
    @if $i <= 20 {
      $size: 1em + (2 / 20) * $i;
    }
    @if $i > 20 {
      $size: 3em;
    }
    .tag_font_size_#{$i} {
      font-size: $size;
    }
  }
}

#search-results {
  position: absolute;
  background-color: white;
  top: 50px;
  padding: 20px;
  display: none;
  ul {
    padding-left: 0px;

    a {
      text-decoration: none;
    }
  }
}

.sidebar-item {
  font-size: 14px;
    margin: 10px;
    margin-left: 20px;
    margin-right: 20px;
  a {
    text-decoration: none;
    font-weight: 700;
    font-size: 15px;
    &:hover {
      text-decoration: underline;
    }
  }
}

#concerts-container {
  padding-left: 20px;
  padding-right: 20px;
  height: 200px;

  #concerts-content {
      line-height: 1.4;

      a {
        text-decoration: none;
        font-size: 14px;
      }
  }
}

#topartists-container {
  height: unset;
  line-height: 1.2;

  #topartists-content {
    text-align: center;
    margin: 10px;
    margin-bottom: 15px;
  }
  
  .topartist {
    a {
      font-weight: 400;
      text-decoration: none;
    }
  }

  @for $i from 1 through 100 {
    $size: 10px;
    @if $i <= 20 {
      $size: $size + $i;
    }
    @if $i > 20 {
      $size: 19px;
    }
    .tag_font_size_#{$i} {
      font-size: $size;
    }
  }
}

  .image-gallery {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    h4 {
      @include responsive-font(1.7vw, 15px, 20px);
      line-height: 22px;
    }

    a {
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }

    figcaption {
      text-align: center;
    }

    figure {
      max-width: 250px;
      min-width: 70px;
      width: 75%;
    }

  }

  @media screen and (max-width: 1200px) {
    .hmdl-page p {
      @include responsive-font(1.1vw, 14px, 16px);
      line-height: 24px;
    }

    .hmdl-page .hmdl-page-content {
      padding: 2vh;
    }

    main {
      width: 100vw;
    }
  }

.read-more-card-link {
  margin-top: 5px;
  a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}