{{- partial "header.html" . }}

<div class="home-container">
  <div class="hmdl-frontpage mdl-grid">
    {{- partial "profile.html" . }}
    {{- partial "home-featured-posts.html" . }}
    <div class="recent-posts-header">Recent Posts</div>
    {{- partial "postsnippets.html" . }}
    {{- partial "showallposts.html" . }}
  </div>
  <div class="home-sidebar-container">
      <div class="home-sidebar-content mdl-card mdl-shadow--4dp mdl-cell--12-col">
          <div class="junk-header"><strong>Junk Feed</strong></div>
          {{- range $index, $element := first .Site.Params.frontpageposts (where .Site.Pages "Section" "junk") }}
          {{- .Render "sidebarjunkitem" }}
          <hr>
          {{- end }}
      </div>
  </div>
</div>

{{- partial "footer.html" . }}

<style>

  .home-sidebar-container {
    position: sticky;
    height: 95vh;
    width: 20vw;
    top: 0;
    padding-bottom: 30px;
    background-color: transparent;
    overflow-y: scroll;
  }

  .home-sidebar-content {
    margin-top: 15px;
  }

  .home-container {
    display: flex;
  }

  .mdl-grid {
    max-width: 70vw;
  }

  .recent-posts-header {
    width: 100%;
    height: 25px;
    background-color: white;
    margin: 10px;
    margin-top: 5px;
    margin-bottom: 0px;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 15px;
  }

  .junk-header {
    text-align: right;
    margin: 10px;
    margin-right: 15px;
  }

  .junk-item-date {
    font-size: 11px;
    text-align: right;
    margin-right: 15px;
  }

  .home-sidebar-content h4 {
    font-size: 12px;
  }

  .home-sidebar-content h4 a {
    text-decoration: none;
  }
</style>
