{{- partial "header.html" . }}

<div class="home-container">
  <div class="hmdl-frontpage mdl-grid">
    {{- partial "profile.html" . }}
    {{- partial "home-featured-posts.html" . }}
    {{- partial "postsnippets.html" . }}
    {{- partial "showallposts.html" . }}
  </div>
  <div class="home-sidebar-container">
      <div class="home-sidebar-content mdl-card mdl-shadow--4dp mdl-cell--12-col">
          {{- range $index, $element := first .Site.Params.frontpageposts (where .Site.Pages "Section" "junk") }}
          {{- .Render "sidebarjunkitem" }}
          <hr>
          {{- end }}
      </div>
  </div>
</div>

{{- partial "footer.html" . }}

<style>

  .home-sidebar-container {
    position: sticky;
    height: 80vh;
    width: 20vw;
    top: 0;
    padding-bottom: 30px;
    background-color: transparent;
    overflow-y: scroll;
  }

  .home-sidebar-content {
    margin-top: 15px;
  }

  .home-container {
    display: flex;
  }

  .mdl-grid {
    max-width: 70vw;
  }
</style>
