                <div class="home-small-post-card">
                    <div class="text-items">
                        <a class="title" href="{{ .RelPermalink }}" {{ with .Params.cardbackground }}style="color:{{.}};"{{end}}>
                            <i style="font-size: 15px; padding: 5px;" class="fas fa-music"></i>&nbsp;{{ title .Title }}
                            <span style="font-size: 14px;">{{ .Date.Format "Jan 2, 2006" }}</span>
                        </a>
                                

                                                <div class="small-card-decription">{{ .Description }}</div>


                                                <div>
                                                    <center>
                                                                                   {{ with .Params.enclosure }}
                        <audio controls preload="metadata" style="padding: 30px; width:95%;">
                                                            <source
                                                                src="{{.}}"
                                                                type="audio/mpeg">
                                                        </audio>
                        {{end}}

                                                    </center>

                        </div>
                    </div>
                </div>
