                <!-- Make a card view for posts -->
                <div class="mdl-card mdl-cell mdl-cell--12-col">
                    <div class="mdl-card__media mdl-color-text--grey-50" style="{{with .Params.cardthumbimage}}background-image: url('{{ . | relURL }}');{{end}} {{with .Params.cardbackground}}background-color:{{.}};{{end}}">
                        <h3 class="card-header-text"><a href="{{ .RelPermalink }}" {{ with .Params.cardtitlecolor }}style="color:{{.}};"{{end}}>
                            {{ with .Params.enclosure }}<i style="font-size: 45px; padding: 5px;" class="fas fa-music"></i>{{ end }}
                            {{ title .Title }}</a>
                            {{ with .Params.enclosure }}<i style="font-size: 45px; padding: 5px;" class="fas fa-music"></i>{{ end }}

                        </h3>
                    </div>
                    <div class="mdl-card__supporting-text mdl-color-text--grey-600">
                        {{ .Summary }}
                                                {{ with .Params.enclosure }}
                        <audio controls preload="metadata" style="padding: 30px; width:95%;">
                                                            <source
                                                                src="{{.}}"
                                                                type="audio/mpeg">
                                                        </audio>
                        {{end}}

                        <div class="read-more-card-link">
                                                    {{ with .Params.enclosure }}
                            This is a part of a series of DJ mixes Gabe has been releasing.<a href="/mixes">  Check out others.</a>
                        {{ else }}

                            <a href="{{ .RelPermalink }}">Read more...</a>
                                                    {{ end }}

                        </div>
                    </div>
 
                </div>
