            {{- partial "header.html" . }}
            <div class="hmdl-page mdl-grid">
                <div class="mdl-card mdl-shadow--4dp mdl-cell mdl-cell--12-col">
                    <div class="hmdl-page-banner mdl-card__media mdl-color-text--grey-50" style="{{with .Params.cardheaderimage}}background-image: url('{{ . | relURL }}');{{end}} {{with .Params.cardbackground}}background-color:{{.}};{{end}}">
                        <h3 class="card-header-text" {{ with .Params.cardtitlecolor }}style="color:{{.}};"{{end}}>{{ title .Title }}</h3>
                    </div>
                    <div class="hmdl-page-content mdl-color-text--grey-700 mdl-card__supporting-text">
                        {{ .Content }}
                        <hr/>
                        {{- partial "related.html" . }}
                    </div>
                    <div class="hmdl-page-comments mdl-color-text--primary-contrast mdl-card__supporting-text comments"> 
                        {{ .Params.author.name }}
                        <p>{{ .Params.author.description }}</p> <span>{{ .Date.Format "Jan 2, 2006" }}</span>
                    </div>
                </div>
            </div>
            {{- partial "footer.html" . }}
