                <div class="home-small-post-card" style="{{with .Params.cardthumbimage}}background-image: url('{{ . | relURL }}');{{end}} {{with .Params.cardbackground}}background-color:{{.}};{{end}}">
                    <div class="colorshield"></div>
                    <div class="text-items">
                        <a href="{{ .RelPermalink }}" {{ with .Params.cardtitlecolor }}style="color:{{.}};"{{end}}>{{ title .Title }}</a>
                        <div class="small-card-decription">{{ .Description }}</div>
                    </div>
                </div>

                <style>
                    .home-small-post-card {
                        position: relative;
                        top: 0px;
                        width: 100%;
                        height: 40px;
                        margin-bottom: 10px;
                        background-size: cover;
                        background-blend-mode: luminosity;
                        border-radius: 7px;
                    }

                    .home-small-post-card:hover {
                        background-blend-mode: normal;
                    }

                    .home-small-post-card .colorshield {
                        position: relative;
                        width: 100%;
                        height: 100%;
                        background-color: black;
                        opacity: 0.45;
                        border-radius: 7px;
                    }


                    .home-small-post-card .colorshield :hover {
                        opacity: 0.1;
                    }

                    .home-small-post-card .text-items {
                        position: absolute;
                        top: 0;
                        width: 100%;
                        height: 100%;
                        font-size: 10px;
                        color: white;
                        display: flex;
                        padding: 5px;
                        padding-left: 10px;
                        flex-direction: column;
                        text-shadow: 1px 1px #000000;
                        opacity: 0.97;
                    }

                    .home-small-post-card a {
                        text-decoration: none;
                        color: white;
                        font-size: 15px;
                        line-height: 1.0;
                    }

                    .home-small-post-card .small-card-decription {
                        opacity: 0.93;
                    }
                </style>