                <div class="home-small-post-card">
                    <div class="text-items">
                        <a class="title" href="{{ .RelPermalink }}" {{ with .Params.cardtitlecolor }}style="color:{{.}};"{{end}}>{{ title .Title }}</a>
                        <div class="small-card-decription">{{ .Description }}</div>
                    </div>
                </div>

                <style>
                    .home-small-post-card {
                        position: relative;
                        top: 0px;
                        height: 100%;
                        margin-bottom: 10px;
                        margin-right: 10px;
                        padding-bottom: 40px;
                    }

                    .home-small-post-card .text-items {
                        position: absolute;
                        top: 0;
                        width: 100%;
                        height: 100%;
                        font-size: 12px;
                        display: flex;
                        padding: 5px;
                        padding-left: 10px;
                        flex-direction: column;
                        opacity: 0.97;
                        line-height: 1.6;
                    }

                    .home-small-post-card .title {
                        text-decoration: none;
                        font-size: 18px;
                        line-height: 1.0;
                        margin-bottom: 10px;
                    }

                    .home-small-post-card .small-card-decription {
                        opacity: 0.93;                        
                        overflow: hidden;
                        font-size: 15px;
                    }
                </style>