                <div class="home-small-post-card">
                    <div class="text-items">
                        <a class="title" href="{{ .RelPermalink }}" {{ with .Params.cardtitlecolor }}style="color:{{.}};"{{end}}>
                            <i style="font-size: 15px; padding: 5px;" class="fas fa-hand-point-right"></i>{{ title .Title }}
                        </a>
                        <div class="small-card-decription">{{ .Description }}</div>
                    </div>
                </div>
